{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Boys Arts & Science College</h1>
    <div class="row">
        <div class="col-lg-6">
            <img src="https://th.bing.com/th/id/R.beccc4b32ceb847aaacadc66c164ba1e?rik=LIrTaYm4M4zo7g&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f2w9pZKq.jpg&ehk=UB7eHzWVv22uDsU%2fNCErg75ey90kBJoo%2f2%2f0JuBJ6c8%3d&risl=&pid=ImgRaw&r=0" alt="">
        </div>
        <div class="col-lg-6">
         <h2>Welcome to  Boys College</h2><br>
         <h6>Having completed more than six decades of dedicated service to the nation, the college has earned an enviable reputation as a leading institution of higher education in Chennai.</h6>
            <br><h6>With its 6 departments the Boys College offers programs in almost all academic fields in arts and sciences. Whether you have a passion for basic science, physics, history, commerce  you will find a department that best suits your needs.</h6><br><br>
        <a href="{% url 'home' %}" ><button class="btn btn-primary" >Explore Store</button></a>
        </div>
    </div>

          <!-- ============bg-se-01  Section  Start============ -->

          <section class="bg-se-01">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>WHY CHOOS US</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-sm-2 order-2 order-md-0 order-lg-0 order-xl-0">
                        <div class="main-card">
                            <div class="sub-card">
                                <img src="{% static 'assets/images/bg/1.png' %}">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="main-card">
                            <div class="content">
                                <ol>
                                    <li>
                                        <h3>VARITY COURSES</h3>
                                        <p>The most popular courses on our platform that are fully accessible without payment. Learn online and earn valuable credentials </p>
                                    </li>
                                    <li>
                                        <h3>ATTRACTIVE PRICES</h3>
                                        <p>Pricing is a pricing strategy that takes advantage of the way people perceive prices</p>
                                    </li>
                                    <li>
                                        <h3>EVENTS</h3>
                                        <p>Boys College offers various Inter-College Festivals and Events to enhance students Technical and ExtraCuricullar Talents</p>
                                    </li>
                                    <li>
                                        <h3>TALENT TEACHERS</h3>
                                        <p>In our Institution Expert faculties from various famous Universities are available</p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><br><br>

        <!-- ============bg-se-02  Section  Start============ -->

                <!-- ============bg-se-02  Section  Start============ -->

                <section class="bg-se-02">
                    <div class="container">
                        <div class="row">
                            <div class="heading">
                                <h2>DEPARTMENTS</h2>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-code"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>COMPUTER SCIENCE</h3>
                                            <p>Computer science is the study of computation, automation, and information. Computer science spans theoretical disciplines</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-business-time"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>COMMERCE</h3>
                                            <p>Commerce is the large-scale organized system of activities, functions, procedures and institutions directly and indirectly related to the exchange</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-calculator-alt"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>MATHEMATICS</h3>
                                            <p>Mathematics is an area of knowledge that includes the topics of numbers, formulas and related structures, shapes and the spaces in which they are contained.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-database"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>PHYSICS</h3>
                                            <p>Physics is the natural science that studies matter, its fundamental constituents, its motion and behavior through space and time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-palette"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>CHEMISTRY</h3>
                                            <p>he branch of science concerned with the substances of which matter is composed, the investigation of their properties and reactions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-shopping-cart"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>HISTORY</h3>
                                            <p>History describes our attempts to research, study and explain the past. This is a subtle difference but an important one. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="main-wrapper">
                                    <div class="content text-center">
                                        <div class="icon">
                                            <i class="fal fa-camera"></i>
                                        </div>
                                        <div class="sentence">
                                            <h3>ENGLISH</h3>
                                            <p>English is a West Germanic language of the Indo-European language family, with its earliest forms spoken by the inhabitants of early medieval England. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><br>
        
                <!-- ============bg-se-03  Section  Start============ -->

                        <!-- ============bg-se-03  Section  Start============ -->
                       <!-- ============bg-se-04  Section  Start============ -->

        <section class="bg-se-04">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="_lk_bg_cd">
                            <i class="fal fa-history"></i>
                            <div class="counting" data-count="20">100</div>
                            <h5>YEAR OF HISTORY</h5>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="_lk_bg_cd">
                            <i class="fal fa-graduation-cap"></i>
                            <div class="counting" data-count="80">100</div>
                            <h5>ACTIVE STUDENTS</h5>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="_lk_bg_cd">
                            <i class="fal fa-globe"></i>
                            <div class="counting" data-count="27">100</div>
                            <h5>ONLINE COURSES</h5>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="_lk_bg_cd">
                            <i class="fal fa-registered"></i>
                            <div class="counting" data-count="62">100</div>
                            <h5>REGISTERED STUDENTS</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-se-06">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>Our Team</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="team-card">
                            <div class="image-team">
                                <img src="{% static 'assets/images/team/1.jpg' %}">
                            </div>
                            <div class="team-content">
                                <h3>John</h3>
                                <p>Principal</p>
                                <ol>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                    <li><i class="fab fa-pinterest-p"></i></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="team-card">
                            <div class="image-team">
                                <img src="{% static 'assets/images/team/2.jpg' %}">
                            </div>
                            <div class="team-content">
                                <h3>Albert</h3>
                                <p>Physics Professor</p>
                                <ol>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                    <li><i class="fab fa-pinterest-p"></i></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="team-card">
                            <div class="image-team">
                                <img src="{% static 'assets/images/team/3.jpg' %}">
                            </div>
                            <div class="team-content">
                                <h3>Ronald</h3>
                                <p>Computer Engineer</p>
                                <ol>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                    <li><i class="fab fa-pinterest-p"></i></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="team-card">
                            <div class="image-team">
                                <img src="{% static 'assets/images/team/4.jpg' %}">
                            </div>
                            <div class="team-content">
                                <h3>Smith</h3>
                                <p>Project Specialist</p>
                                <ol>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                    <li><i class="fab fa-pinterest-p"></i></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============Footer  Start============ -->

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Boys College</h3>
                    <p>Communication with students & parents is very important for schools, tuition classes or coaching Institute.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Quick Links</h3>
                    <ol>
                        <li><i class="far fa-angle-right"></i>home</li>
                        <li><i class="far fa-angle-right"></i>About Us</li>
                        <li><i class="far fa-angle-right"></i>Services</li>
                        <li><i class="far fa-angle-right"></i>Blog</li>
                        <li class="last"><i class="far fa-angle-right"></i>Contact Us</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Featured Courses</h3>
                    <ol>
                        <li><i class="far fa-angle-right"></i>BSC</li>
                        <li><i class="far fa-angle-right"></i>MSC</li>
                        <li><i class="far fa-angle-right"></i>BBA</li>
                        <li><i class="far fa-angle-right"></i>MA</li>
                        <li class="last"><i class="far fa-angle-right"></i>MCA</li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Contact Us</h3>
                    <form class="my-form">
                        <div class="form-group">
                            <input class="form-control" type="emal" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea rows="3" placeholder="Message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <a href="#">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="end-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="last-card">
                    <p>© 2023 All Rights Reserved by<a href="{% url 'index' %}">Boys College</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}